mat-form-field {
  width: 100%;
}

mat-label {
  color: #000;
}

.material-icons {
  padding-top: 20px;
  margin: 0 10px;
}

.translation-input {
  background-color: #EFF0F2;
  &__select {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    width: 800px;
  }
  &__button {
    text-align: center;
    button {
      background-color: #48C9B0;
    }
  }
}

