mat-form-field {
  width: 100%;
}

.material-icons {
  padding-top: 20px;
  margin: 0 10px;
}

.translation-input {
  &__select {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    width: 800px;
  }
}
