<div class="history" routerLink="/translation-output/{{ translation.id }}">
  <div class="history__content">
    <div class="history__lang">
      <div class="history__lang-item"> {{ translation.sourceLanguage | appHumanizeLang }} </div>
    </div>
    <div class="history__text">
      <div class="history__text-item"> {{ translation.sourceText | slice:0:200 }}</div>
    </div>
  </div>
  <div class="history__arrow">
    <div></div>
  </div>
  <div class="history__content">
    <div class="history__lang">
      <div class="history__lang-item"> {{ translation.targetLanguage | appHumanizeLang }} </div>
    </div>
    <div class="history__text">
      <div class="history__text-item"> {{ translation.targetText | slice:0:200 }}</div>
    </div>
  </div>
</div>
