.history {
  width: 800px;
  margin-bottom: 20px;
  &__items {
    border: 1px solid black;
    border-radius: 5px;
  }
  &__link {
    display: block;
    height: 100%;
    padding: 10px;
    font-style: italic;
    &-item {
    }
  }
}
