<div *ngIf="translationEntity" class="translation-out">
  <div class="translation-out__content">
    <div class="translation-out__title"> {{ translationEntity.sourceLanguage | appHumanizeLang }} </div>
    <div class="translation-out__text"> {{ translationEntity.sourceText }} </div>
  </div>
  <div class="translation-out__arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="translation-out__content">
    <div class="translation-out__title"> {{ translationEntity.targetLanguage | appHumanizeLang }} </div>
    <div class="translation-out__text"> {{ translationEntity.targetText }} </div>
  </div>
  <div class="translation-out__button">
    <button routerLink="/" mat-raised-button color="primary">Back</button>
  </div>
</div>
